@model IEnumerable<BOLayer.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("SIGNUP", "Register")
</p>
<p>
    @Html.ActionLink("LOGIN", "Login")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userCategory)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.UserId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.First_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Last_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DOB)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.gender)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Contact)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Password)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.userCategory)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
        @Html.ActionLink("Details", "Details", new { id = item.UserId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
    </td>
</tr>
}

</table>
